.search_bar {
    padding: 10px;
    height: auto;
}

.search_bar>input {
    height: 5vh;
    font-family: 'Orbitron';
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #ffffff1c;
    width: 98%;
}