@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: rgb(138 150 225 / 28%);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 10%;
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.2), 0 10px 10px 0 rgba(255, 255, 255, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: rgb(138 150 225 / 28%);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #DCB6FF;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #f0e0ff;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #DCB6FF;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

body {
  background: black;
  background: linear-gradient(90deg, black 0%, black 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.account-block {
  font-size: x-large;
  display: inline-block;
  margin: 10px;
  /* Add margin to create spacing between elements */
  text-align: center;
  border-radius: 10px;
  /* Add rounded corners */
  width: calc(100% - 20px);
}

#container {
  background-color: rgb(138 150 225 / 28%);
  color: white;
  border: 1px solid #ddd;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: calc(100% - 20px);
  box-sizing: border-box;
  min-height: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px !important;
}

.gender-select {
  height: 46px;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 2px;
  color: #9f9e9e;
  background-color: rgb(138 150 225 / 28%);
}

img#u_img {
  box-shadow: 10px 10px;
  border-radius: 5%;
  height: 120px;
}

#u_name {
  font-weight: bold;
}

#u_email {
  font-size: large;
  color: #949494;
}

#u_info {
  font-size: medium;
  white-space: normal;
  word-wrap: break-word;
}

#u_gender {
  font-style: italic;
  font-weight: lighter;
}

#u_password {
  -webkit-text-security: disc;
  text-security: disc;
}

@media (min-width: 1000px) {
  .container {
    width: 40% !important;
    margin: 5% !important;
    margin-top: 20px !important;
    float: left !important;
  }
}