/* Additional styles for desktop screens */
/* You can customize these styles for larger screens */
.top-bar {
    padding: 1px 0;
    font-size: 18px;
}

.types {
    margin-top: -20px;
}

/* Override width and margin for all devices to center-align elements */
.flow-element {
    width: calc(25% - 20px);
    /* Approximately 3 elements per row with spacing */
    margin: 10px;
    /* Add margin to create spacing between elements and center-align them */
    display: inline-block;
    /* Make elements display horizontally */
    vertical-align: top;
    /* Align elements to the top */
}

/* Style for the Flow Element that occupies a full row */
.full-line {
    width: calc(100% - 20px) !important;
    -webkit-line-clamp: 4;
}