/* Additional styles for mobile screens */
body {
    padding-top: 0px;
}

/* You can customize these styles for smaller screens */
.mobile-bar {
    display: block;
}

/* Hide the top navigation bar on mobile */
.top-bar {
    display: none;
}

/* Center the Flow Elements on mobile */
/* Override width and margin for all devices to center-align elements */
.flow-element,
.adsbygoogle {
    width: calc(100% - 25px);
    /* Ensure one element per row on mobile */
    margin: 10px;
    /* Add margin to create spacing between elements and center-align them */
    display: inline-block;
    /* Make elements display horizontally */
    vertical-align: top;
    /* Align elements to the top */
}

/* Style for the Flow Element Image */
.flow-element img {
    max-width: 38%;
    max-height: 38%;
}

.form {
    background-color: rgba(255, 255, 255, 0) !important;
}

.massage {
    font-size: medium !important;
}

main {
    padding-bottom: 80px;
    margin-bottom: 0;
}

/*隐藏底部鱼动画*/
#jsi-flying-fish-container {
    display: none;
}