html,
body {
    height: 100% !important;
}

main {
    margin-top: 0;
    height: 100%;
}

main>.auth-box {
    position: fixed;
    display: inline-block;
    overflow: auto;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: var(--main-bg-color);
}

main>.auth-box>.back-to-home {
    position: fixed;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    top: 5px;
    left: 5px;
}

main>.auth-box>.auth-img-box {
    width: 100%;
}

main>.auth-box>.auth-img-box>img {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

main>.auth-box>form {
    width: 100%;
}

main>.auth-box>form>h1 {
    font-size: xx-large;
    text-align: center;
}

main>.auth-box>form>span {
    display: block;
    margin-left: 15%;
    margin-bottom: 3px;
    width: 68.7% !important;
    text-align: left;
    color: var(--h2-text-color);
}

main>.auth-box>form>input {
    font-size: large;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 10%;
    background-color: transparent;
    padding: 0;
    border: none;
    border-bottom: solid 1px var(--p-text-color);
    width: 70%;
    height: 40px;
}

main>.auth-box>form>.verification-code {
    margin-right: 0;
    width: 45%;
}

main>.auth-box>form>button {
    font-size: large;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 6%;
    margin-bottom: 5%;
    height: 35px;
    width: 70%;
    border-color: var(--button-bg-color);
    color: var(--button-bg-color);
    background-color: var(--button-text-color);
}

main>.auth-box>form>.get-verification-code {
    margin: 0;
    padding: 0;
    border: 0;
    width: 25%;
}

main>.auth-box>form>p {
    font-size: small;
    margin-left: 15%;
}

@media screen and (max-width: 650px) {

    main>.auth-box {
        width: 100%;
    }

}

.message {
    display: block;
    font-weight: lighter;
    padding-left: 3px;
    margin-top: 3px;
    width: 67%;
    background-color: #d3ffd2;
    border-left: 6px solid #09ff00 !important;
    margin-bottom: 0 !important;
    text-align: left !important;
}

.errorMessage {
    display: block;
    font-weight: lighter;
    padding-left: 3px;
    margin-top: 3px;
    width: 67%;
    background-color: #ffd2d2;
    border-left: 6px solid #f00 !important;
    margin-bottom: 0 !important;
    text-align: left !important;
}