h1 {
    color: var(--h1-text-color);
}

h2 {
    color: var(--h2-text-color);
}

h3 {
    color: var(--h3-text-color);
}

h4 {
    color: var(--h4-text-color);
}

h5 {
    color: var(--h5-text-color);
}

h6 {
    color: var(--h6-text-color);
}

p {
    color: var(--p-text-color);
    margin-left: 1em;
    margin-right: 1em;
    word-break: break-word;
}

hr {
    color: var(--hr-color);
}

.text-left {
    text-align: left;
    margin-left: 1.5em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
    margin-right: 1.5em;
}

.hot-tag {
    word-break: keep-all;
    font-size: xx-small;
    color: red;
}