.card {
    width: auto;
    height: auto;
    padding: 1%;
    border-radius: 3px;
    background-color: var(--card-bg-color);
    box-shadow: 7px 7px 8px var(--shadow-color);
}

.small-card {
    margin: 1.5em;
    padding: 1%;
}

.large-card {
    margin-bottom: 1em;
    padding: 1%;
}

.card-title {
    width: 100%;
    font-weight: bolder;
}