main {
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 100%;
}

main>.page-main-content{
    display: flex;
    margin: 0 auto;
    max-width: 1860px;
    width: 100%;
    min-height: 100%;
}

main>.page-main-content>.right-side-block{
    height: 100%;
    width: 30%;
}

main>.page-main-content>.left-side-block{
    height: 100%;
    width: 70%;
}

main>.page-main-content>.left-side-block>.block-inner-content,
main>.page-main-content>.right-side-block>.block-inner-content{
    margin: 0 auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 3px;
    height: auto;
    background-color: var(--level2-bg-color);
    width: calc(100% - 2vw);
}
