body {
    background-color: black;
    color: #ffffff;
}

hr {
    width: 100%;
}

button {
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.249);
}

.new_solution,
.new_step,
.new_start,
.new_input,
.new_graph,
.resetDiv {
    background-color: rgb(138 150 225 / 28%);
    border: 1px solid #ddd;
    display: inline-block;
    margin: 10px;
    /* Add margin to create spacing between elements */
    text-align: center;
    border-radius: 10px;
    /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
    width: calc(100% - 20px);
    /* Ensure one element per row on mobile */
    box-sizing: border-box;
    /* Include padding in element width */
    min-height: 0;
    /* Ensure minimum height is not greater than width */
}


.new_start {
    color: rgb(200, 200, 200);
    font-size: large;
    font-style: oblique;
}

.new_input {}

.new_input_label {
    width: 100%;
    display: block;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 5px;
}

.new_input_input {
    background-color: rgba(255, 255, 255, 0.249);
    margin-bottom: 2%;
    text-align: center;
    color: white;
    height: 25px;
    border-radius: 10px;
}

.like-btn {
    right: 16px;
    bottom: 114px;
    position: fixed;
    z-index: 99;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #9b9b9bad;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.like-btn-i {
    display: inline-block;
    width: 100%;
    height: 100%;
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    background-color: white;
    mask-image: url(https://app.mathscichem.com/static/svg/liked.svg);
    -webkit-mask-image: url(https://app.mathscichem.com/static/svg/liked.svg);
}