<style>
    .loading-animation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-bg-color);
        z-index: 999999;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .loading-animation .logo {
        width: 30%;
        animation: loading 2s linear infinite alternate;
    }

    @media screen and (max-width: 768px) {
        .loading-animation .logo {
            width: 50%;
        }
    }

    @media screen and (max-width: 480px) {
        .loading-animation .logo {
            width: 70%;
        }
    }

    @media screen and (max-width: 320px) {
        .loading-animation .logo {
            width: 90%;
        }
    }

    @keyframes loading {
        0% {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }

        50% {
            transform: scale3d(1.2, 1.2, 1.2);
            opacity: 0.8;
        }

        75% {
            transform: scale3d(1.3, 1.3, 1.3);
            opacity: 0.6;
        }

        100% {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    .loaded {
        animation: dilute 1s linear;
    }

    @keyframes dilute {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>
<div class="loading-animation">
    <img src="<%- logo %>" class="logo">
</div>
<script>
    let documentLoaded = false;
    document.addEventListener('DOMContentLoaded', function () {
        documentLoaded = true;
    });
    const loadingAnimation = document.querySelector('.loading-animation');
    if (sessionStorage.getItem("first_load") != "false") {
        loadingAnimation.style.display = 'flex';
    } else {
        setTimeout(function () {
            if (!documentLoaded) loadingAnimation.style.display = 'flex';
        }, 1000);
    }
    window.addEventListener('load', function () {
        if (sessionStorage.getItem("first_load") != "false") {
            hideLoadingAnimation(true);
            sessionStorage.setItem("first_load", "false");
        } else {
            hideLoadingAnimation(false);
        }
    });

    function showLoadingAnimation() {
        loadingAnimation.style.display = 'flex';
        loadingAnimation.classList.remove('loading-animation');
        loadingAnimation.classList.add('loading-animation');
    }
    function hideLoadingAnimation(animation) {
        if (animation) {
            document.querySelector('.loading-animation').classList.add('loaded');
            setTimeout(function () {
                document.querySelector('.loading-animation').style.display = 'none';
                document.querySelector('.loading-animation').classList.remove('loaded');
            }, 1000);
        } else {
            document.querySelector('.loading-animation').style.display = 'none';
        }
    }
</script>