<% let currentPage = 'test' %>
<!DOCTYPE html>
<html>

<head>
    <%- include('../partial/head.ejs', { currentPage, pageStyle }) %>
</head>

<body>
    <%- include('../partial/page-includes.ejs') %>
</body>

</html>